{{ if children }}
    <li>
        <button type="button" @click="activeSubMenu = activeSubMenu === '{{ id }}' ? null : '{{ id }}'"
            @mouseenter="timeout = setTimeout(() => { activeSubMenu = '{{ id }}' }, 300)"
            @mouseleave="clearTimeout(timeout)" class="flex items-center max-xl:pt-4 max-xl:text-xl">

            <span class="text-dark-900 dark:text-white font-semibold mr-1 transition-all duration-300 ease-in-out">
                {{ title }}
            </span>

            <div :class="{ 'rotate-180': activeSubMenu === '{{ id }}' }">
                {{ svg src='chevron' class='size-5 fill-current text-dark-900 dark:text-white transition-all duration-300 ease-in-out' }}
            </div>
        </button>
    </li>
{{ else }}
    <li>
        <a href="{{ url }}" aria-label="{{ title }}"
            class="inline-block max-xl:text-xl font-semibold text-dark-900 dark:text-white no-underline transition-all duration-300 ease-in-out hover:text-primary-700 max-xl:mt-4">
            {{ title }}
        </a>
    </li>
{{ /if }}